function Main.main 0
call Main.init 0
pop temp 0
push constant 512
push constant 256
call Model.new 2
pop static 0
push static 0
call Controller.new 1
pop static 1
push static 0
call View.new 1
pop static 2
call Main.run 0
pop temp 0
push static 0
call Model.dispose 1
pop temp 0
push static 1
call Controller.dispose 1
pop temp 0
push static 2
call View.dispose 1
pop temp 0
push constant 0
return
function Main.init 1
push constant 8
call String.new 1
push constant 87
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 34
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 6
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 30
call String.new 1
push constant 73
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 9
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 25
call String.new 1
push constant 40
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
call Utils.updateRandom 0
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
function Main.run 2
push constant 0
pop local 0
push static 2
push static 3
call View.printScore 2
pop temp 0
push static 2
call View.drawApple 1
pop temp 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push static 2
call View.eraseLast 1
pop temp 0
push static 1
call Controller.update 1
pop temp 0
push static 0
call Model.isGameOver 1
pop local 0
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
call Model.isAppleEaten 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 2
call View.erasePreviousApple 1
pop temp 0
push static 2
call View.drawApple 1
pop temp 0
push static 3
push constant 1
add
pop static 3
push static 2
push static 3
call View.printScore 2
pop temp 0
push static 3
push constant 50
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 1
push constant 0
not
pop local 0
label IF_FALSE2
label IF_FALSE1
push static 2
call View.drawHead 1
pop temp 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push local 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 2
call View.printGameWon 1
pop temp 0
goto IF_END3
label IF_FALSE3
push static 2
call View.printGameLost 1
pop temp 0
label IF_END3
push constant 0
return
