function Model.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 10
sub
pop this 0
push argument 1
push constant 10
sub
pop this 1
push this 0
push constant 2
call Math.divide 2
push constant 10
call Utils.round 2
push this 1
push constant 2
call Math.divide 2
push constant 10
call Utils.round 2
call Snake.new 2
pop this 3
push constant 0
push constant 0
call Point.new 2
pop this 5
push constant 0
push constant 0
call Point.new 2
pop this 4
push this 4
push this 0
push this 1
call Point.randomizeCoordinates 3
pop temp 0
push pointer 0
return
function Model.dispose 0
push argument 0
pop pointer 0
push this 3
call Snake.dispose 1
pop temp 0
push this 4
call Point.dispose 1
pop temp 0
push this 5
call Point.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Model.moveSnake 0
push argument 0
pop pointer 0
push this 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 4
call Model.collidesWithHead 2
pop this 6
push this 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
call Snake.moveAndGrow 1
pop temp 0
push pointer 0
call Model.spawnApple 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 3
call Snake.move 1
pop temp 0
push pointer 0
call Model.hasSnakeCrashed 1
pop this 2
label IF_END1
call Utils.updateRandom 0
pop temp 0
label IF_FALSE0
push constant 0
return
function Model.spawnApple 0
push argument 0
pop pointer 0
push this 5
push this 4
call Point.moveTo 2
pop temp 0
label WHILE_EXP0
push pointer 0
push this 4
call Model.collidesWithSnake 2
not
if-goto WHILE_END0
push this 4
push this 0
push this 1
call Point.randomizeCoordinates 3
pop temp 0
call Utils.updateRandom 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Model.collidesWithSnake 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Model.collidesWithHead 2
push pointer 0
push argument 1
call Model.collidesWithTail 2
call Utils.or 2
return
function Model.collidesWithHead 0
push argument 0
pop pointer 0
push argument 1
push this 3
call Snake.getHead 1
call Utils.collides 2
return
function Model.collidesWithTail 2
push argument 0
pop pointer 0
push this 3
call Snake.getBody 1
pop local 0
push constant 1
pop local 1
label WHILE_EXP0
push local 1
push this 3
call Snake.getLength 1
lt
not
if-goto WHILE_END0
push argument 1
push local 1
push local 0
add
pop pointer 1
push that 0
call Utils.collides 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Model.hasSnakeCrashed 1
push argument 0
pop pointer 0
push this 3
call Snake.getHead 1
pop local 0
push local 0
call Point.getX 1
push constant 0
lt
push local 0
call Point.getY 1
push constant 0
lt
push local 0
call Point.getX 1
push this 0
gt
push local 0
call Point.getY 1
push this 1
gt
push pointer 0
push local 0
call Model.collidesWithTail 2
call Utils.or 2
call Utils.or 2
call Utils.or 2
call Utils.or 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Model.turnSnakeUp 0
push argument 0
pop pointer 0
push this 3
call Snake.turnUp 1
pop temp 0
push constant 0
return
function Model.turnSnakeRight 0
push argument 0
pop pointer 0
push this 3
call Snake.turnRight 1
pop temp 0
push constant 0
return
function Model.turnSnakeDown 0
push argument 0
pop pointer 0
push this 3
call Snake.turnDown 1
pop temp 0
push constant 0
return
function Model.turnSnakeLeft 0
push argument 0
pop pointer 0
push this 3
call Snake.turnLeft 1
pop temp 0
push constant 0
return
function Model.getSnakeHead 0
push argument 0
pop pointer 0
push this 3
call Snake.getHead 1
return
function Model.getSnakeLast 0
push argument 0
pop pointer 0
push this 3
call Snake.getLast 1
return
function Model.getApple 0
push argument 0
pop pointer 0
push this 4
return
function Model.getPreviousApple 0
push argument 0
pop pointer 0
push this 5
return
function Model.isAppleEaten 0
push argument 0
pop pointer 0
push this 6
return
function Model.isGameOver 0
push argument 0
pop pointer 0
push this 2
return
function Model.gameOver 0
push argument 0
pop pointer 0
push constant 0
not
pop this 2
push constant 0
return
